/* Buttons
   ========================================================================== */
   .button {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.button-twitter {
    color: #FFFFFF;
    background-color: #659AF1;
    border-radius: 5px;
  }