/* MATRIX */
#matrix {
  position: fixed;
  top:0;
  left:0;
  z-index: -1000;
  background: #000;
  background-image: -webkit-linear-gradient(top, #6A0275 10%, #040C4A 60%);
  background-image: linear-gradient(to bottom, #6A0275 10%, #040C4A 60%);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  perspective: 300px;
  -webkit-perspective: 300px;


  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: -webkit-linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%), -webkit-linear-gradient(0deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
    background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%), linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
    z-index: 4;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
  }

  .wrapper80 {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    overflow: hidden;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }

  /*#matrix .wrapper::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: -webkit-linear-gradient(transparent 70%, rgba(0, 0, 0, 0.5) 30%);
    background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.5) 30%);
    background-size: 3px 3px;
    z-index: 601;
    pointer-events: none;
  }*/

  .m-grid {
    position: absolute;
    top: 50%;
    margin-top: -75vh;
    left: 50%;
    margin-left: -100vw;
    width: 200vw;
    height: 150vh;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    background-image: -webkit-linear-gradient(90deg, transparent 24%, rgba(236, 0, 140, 0.5) 25%, rgba(236, 0, 140, 0.9) 26%, transparent 27%, transparent 74%, rgba(236, 0, 140, 0.5) 75%, rgba(236, 0, 140, 0.9) 76%, transparent 77%, transparent), -webkit-linear-gradient(0deg, transparent 24%, rgba(236, 0, 140, 0.75) 25%, rgba(236, 0, 140, 0.25) 26%, transparent 27%, transparent 74%, rgba(236, 0, 140, 0.75) 75%, rgba(236, 0, 140, 0.25) 76%, transparent 77%, transparent);
    background-image: linear-gradient(0deg, transparent 24%, rgba(236, 0, 140, 0.5) 25%, rgba(236, 0, 140, 0.9) 26%, transparent 27%, transparent 74%, rgba(236, 0, 140, 0.5) 75%, rgba(236, 0, 140, 0.9) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(236, 0, 140, 0.75) 25%, rgba(236, 0, 140, 0.25) 26%, transparent 27%, transparent 74%, rgba(236, 0, 140, 0.75) 75%, rgba(236, 0, 140, 0.25) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
  }
}

/* LOGO */
.m-logo {
  height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 501;
  -webkit-filter: blur(0.5px) brightness(1);
  filter: blur(0.5px) brightness(1);
}

.m-logo__wrap {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: brightness(1);
  filter: brightness(1);
  text-align: center;
}

.m-logo h1 {
  font-family: 'Press start 2p', sans-serif;
  font-size: 25px;
  letter-spacing: -4px;
  font-weight: 400;
  margin: 0 0 0.25em;
  line-height: 1.25;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3ff8c6), color-stop(0%, #3fa8c6), color-stop(100%, #399ab2));
  background-image: -webkit-linear-gradient(top, #3fa8c6 0%, #3fa8c6 0%, #ff9ab2 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m-logo .subtitle {
  font-size: 15px;
  color: #faf8f9;
  margin: 0;
  font-family: 'Mr Dafoe', serif;
  text-shadow: 0px 1x 0px #530031;
  -webkit-filter: drop-shadow(0 0 2px #ff4d91);
          filter: drop-shadow(0 0 2px #ff4d91);
}

@media (min-width: 544px) {
  .m-logo h1 { font-size: 35px; }
  .m-logo .subtitle { font-size: 15px; }
}

@media (min-width: 768px) {
  .m-logo h1 { font-size: 40px; }
  .m-logo .subtitle { font-size: 20px; }
}

@media (min-width: 992px) {
  .m-logo h1 { font-size: 50px; }
  .m-logo .subtitle { font-size: 20px; }
}

@media (min-width: 1200px) {
  .m-logo h1 { font-size: 60px; }
  .m-logo .subtitle { font-size: 35px; }
}


/* MODIFIERS */

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


/* CONTENT */

.content-box>.container-fluid {
  background: $colorwhite;

}

.content-box-deco {
  background: transparent;
  display: flex;
  position: relative;
  width: 100%;
  z-index: -1;
}

.content-box-header {
  bottom: -13vh;
}

.content-box-bgheader {
  top: -15vh;
}

.content-box-bgfooter {
  bottom: -10vh;
}

.content-box-skew-left {
  width: 50%;
  height: 20vh;
  transform: skewY(7deg);
  background: $colorwhite;
}

.content-box-skew-right {
  width: 50%;
  height: 20vh;
  transform: skewY(-7deg);
  background: $colorwhite;
}


#top {
  height: 65vh;
}

#projects .card {
  min-height: 350px;
}

#useless-carousel .carousel-item {
  overflow: hidden;
}

#footer>.container-fluid {
  min-height: 20vh;
}


/* RESPONSIVISM */

@media (min-width: 544px) {
  .content-box-skew-left {
    transform: skewY(6.5deg);
  }
  .content-box-skew-right {
    transform: skewY(-6.5deg);
  }
}

@media (min-width: 768px) {
  .content-box-skew-left {
    transform: skewY(6deg);
  }
  .content-box-skew-right {
    transform: skewY(-6deg);
  }
}

@media (min-width: 992px) {
  .content-box-skew-left {
    transform: skewY(5.5deg);
  }
  .content-box-skew-right {
    transform: skewY(-5.5deg);
  }
}

@media (min-width: 1200px) {
  .content-box-skew-left {
    transform: skewY(5deg);
  }
  .content-box-skew-right {
    transform: skewY(-5deg);
  }
}

/** Portfolio **/
#portfolio{
    .container{
      padding: 30px;
      .heading{
        text-align: center;
        font-weight: bold;
        font-family: 'Merienda', cursive;
        text-align: center;
        color: #fff;
        margin-bottom:30px;
        padding: 10px 0 15px;
        background: -moz-linear-gradient(left, rgba(255,87,34,0) 25%, rgba(255, 87, 34, 0.5607843137254902) 50%, rgba(255,87,34,0) 75%, rgba(255,87,34,0) 76%, rgba(255,87,34,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,87,34,0) 25%,rgba(255, 87, 34, 0.5607843137254902) 50%,rgba(255,87,34,0) 75%,rgba(255,87,34,0) 76%,rgba(255,87,34,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,87,34,0) 25%,rgba(255, 87, 34, 0.5607843137254902) 50%,rgba(255,87,34,0) 75%,rgba(255,87,34,0) 76%,rgba(255,87,34,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff5722', endColorstr='#00ff5722',GradientType=1 ); /* IE6-9 */
      }
      img{
        width: auto;
        height: auto;
        max-width: 100%;
      }.card{
        margin-bottom: 20px;
      }
      .sub-ttl{
        color: #ff5722;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        
      }
   }
}