
html {
    box-sizing: border-box;
  }
  
*, *::before, *::after {
    box-sizing: inherit; /* [1] */
    margin: 0;
    padding: 0;
  }
html, body {
    width             : 100%;
    height            : 100%;
  }
  
  
  /* FONTS
     ========================================================================== */
  
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  }
  
/* RESPONSIVISM */

@media (min-width: 544px) {
  .content-box-skew-left {
    transform: skewY(6.5deg);
  }
  .content-box-skew-right {
    transform: skewY(-6.5deg);
  }
}

@media (min-width: 768px) {
  .content-box-skew-left {
    transform: skewY(6deg);
  }
  .content-box-skew-right {
    transform: skewY(-6deg);
  }
}

@media (min-width: 992px) {
  .content-box-skew-left {
    transform: skewY(5.5deg);
  }
  .content-box-skew-right {
    transform: skewY(-5.5deg);
  }
}

@media (min-width: 1200px) {
  .content-box-skew-left {
    transform: skewY(5deg);
  }
  .content-box-skew-right {
    transform: skewY(-5deg);
  }
}