/* Header
   ========================================================================== */

   .header {
    width: 100%;
    height: 80px;
    color: #FFFFFF;
    margin-bottom: 50px;
    .bg{
      background-color: #525286;
      .navbar-brand{
        color: $colorwhite;
      }
      .navbar-nav  {
        .nav-link{
          color: $colorwhite;
        }
      }
    }
  }