.profile {
    display: flex;
    height: 100vh;
    width: 100%;
  .profile-image {
    height: 100%;
    flex-grow: 1;
    flex-basis: 50%;
  }
  
  .profile-details {
    flex-basis: 30%;
    flex-grow: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    > * {
        margin-bottom: 20px;
      }
  }
  
}