/* Homepage Container
   ========================================================================== */
   .container-fluid{
   .heading{
      font-weight: bold;
      font-family: 'Merienda', cursive;
      text-align: center;
      color: #fff;
      margin-bottom:30px;
      padding: 10px 0 15px;
      background: -moz-linear-gradient(left, rgba(255,87,34,0) 25%, rgba(255, 87, 34, 0.5607843137254902) 50%, rgba(255,87,34,0) 75%, rgba(255,87,34,0) 76%, rgba(255,87,34,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,87,34,0) 25%,rgba(255, 87, 34, 0.5607843137254902) 50%,rgba(255,87,34,0) 75%,rgba(255,87,34,0) 76%,rgba(255,87,34,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,87,34,0) 25%,rgba(255, 87, 34, 0.5607843137254902) 50%,rgba(255,87,34,0) 75%,rgba(255,87,34,0) 76%,rgba(255,87,34,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff5722', endColorstr='#00ff5722',GradientType=1 ); /* IE6-9 */
   }
   .container {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  /* Profile Card
     ========================================================================== */
  
  .person {
    text-align: center;
  }
  
  .person > * {
    margin-bottom: 5px;
  }
  
  .person-image {
    width: 100%;
    height: 300px;
  }
}