$screen-sm-max: 768px;
$screen-md-min: 769px;
$screen-lg-min: 1280px;

$darkGray: #222222;
$lightGray: #dddddd;

$midnightBlue: #34495e;
$wetAsphalt: #2c3e50;
$belizeHole: #2980b9;
$pomegranate: #c0392b;
$colorwhite: #FFFF;

$boxShadow: 0 5px 10px rgba(0,0,0,0.175);

