extends layout

block content
   div.container
    each person in people
      div.person
        div.person-image(style=`background: url('images/${person.imgSrc}') top center
        no-repeat; background-size: cover;`)
        h2.person-name
          | #{person.firstname} #{person.lastname}
        a(href=`/single?id=${person.id}`)
          | View Profile
