extends layout

block content
    header#top-nav
      #matrix
        .wrapper80
          .m-grid
      #top.container-fluid
        .row.row-content
          .m-logo
            .m-logo__wrap
              h1
                | ProTechIG
                br
                | ProTech Internet Group
              .subtitle We craft digital experiences to help businesses reach more customers.
    section
      #about.content-box
        .content-box-deco.content-box-header
          .content-box-skew-left
          .content-box-skew-right
        .container-fluid
          .heading
            h1.tittle OUR TEAM
          .container
            each person in people
              div.person
                div.person-image(style=`background: url('images/${person.imgSrc}') top center
                no-repeat; background-size: cover;`)
                h2.person-name
                  | #{person.firstname} #{person.lastname}
                a(href=`/profile?id=${person.id}`)
                  | View Profile
    section#portfolio.innersec
      .container
        .heading
            h1.tittle OUR PORTIFOLIO
        .row
          .col-md-6
            .row
              .col-md-6
                .card
                  img.card-img-top.auto(src='https://dl.dropboxusercontent.com/s/m6xdmh21c1s3ck3/tribute.jpg', alt='Tribute')
                  .card-block
                    h4.card-title Tribute Page
                    p.card-text This is my tribute page.
                    a.btn.btn-primary(href='https://codepen.io/ynnossence/pen/VbMxLR', target='_blank') Link Here
              // // end .col
              .col-md-6
                .card
                  img.card-img-top(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder&w=200&h=200', alt='Card image cap')
                  .card-block
                    h4.card-title Website Title
                    p.card-text Lorem ipsum dolor si amet.
                    a.btn.btn-primary(href='#') Link Here
            // // end .col
          // // end .col-md
          .col-md-6
            .row
              .col-md-6
                .card
                  img.card-img-top(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder&w=200&h=200', alt='Card image cap')
                  .card-block
                    h4.card-title App Title
                    p.card-text Lorem ipsum dolor si amet.
                    a.btn.btn-primary(href='#') Link Here
              // // end .col
              .col-md-6
                .card
                  img.card-img-top(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder&w=200&h=200', alt='Card image cap')
                  .card-block
                    h4.card-title App Title
                    p.card-text Lorem ipsum dolor si amet.
                    a.btn.btn-primary(href='#') Link Here
            // // end .col
            // 
        // // end .row
      // // end .container
    // // end #portfolio