doctype html
html
  head
  title= title
  meta( charset='utf-8' )
  meta( http-equiv='X-UA-Compatible', content='IE=edge' )
  meta( name='viewport', content='width=device-width, initial-scale=1.0' )
  link(rel='stylesheet', href='/css/libs.css')
  link(rel='stylesheet', href='/css/main.css')
  //link(rel='stylesheet', href='css/bootstrap.min.css')
  link(href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")   
  script(src='javascripts/home.js')
  
    
    
  body
    include navigation.pug
    block content
    include footer.pug
    
