extends layout
block content
    .container
    .row
      .col-md-3
        // Blank DIV
      .col-md-6.main
        // Form Tag starts here
        // Action attribute is the route on backend. Method is POST
        form(action='/signup', method='post')
          h1  Signup form 
          input#name.box(type='text', name='name', placeholder='Enter your Name', required='')
          br
          input#email.box(type='email', name='email', placeholder='Enter your E-Mail ', required='')
          br
          input#password.box(type='password', name='password', placeholder='Enter your Password ', required='')
          br
          input#phone.box(type='text', name='phone', placeholder='Enter your Phone Number ', required='')
          br
          br
          input#submitDetails(type='submit', name='submitDetails', value='Submit Your Details')
          br
      .col-md-3
        // Blank DIV