extends layout
block content
    .container
        .row
            .col-md-3
            .col-md-6.main
            h1
                | Signup Successful 
                br
                |  Congratulations!!
            .col-md-3